* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.acard {
    /* width: 255px;
    height: 436px; */
    background: rgb(29, 15, 53);
    background: linear-gradient(8deg, rgba(29, 15, 53, 1) 0%, rgba(99, 109, 193, 1) 49%, rgba(187, 130, 219, 1) 100%);
    border-radius: 10px;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: rgb(29, 15, 53);
    background: linear-gradient(8deg, rgba(29, 15, 53, 1) 0%, rgba(99, 109, 193, 1) 49%, rgba(187, 130, 219, 1) 100%);
    ;
    border-radius: var(--bs-card-border-radius);
}

body {
    font-family: 'Outfit', sans-serif;
    background: #1e1e3f;
}


.back {
    background: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bol {
    background-color: #1E1E37;
}

#nav2 {
    background: #1e1e3f;
}

.list {
    padding-left: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.section10 {
    margin-top: 18px;
    margin-bottom: 150px;
}

.browser {
    margin-left: 70px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

#list_item a {
    border-top: 1px solid #5B00FB;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #5B00FB;
}

.list_item a {
    padding: 18.5px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.list_item {
    list-style: none;
    padding-left: 20px;
}

.lists {
    width: 566px;
    margin: auto;
    display: flex;
    padding: 12px 0;
}

.kk {
    width: 30px;
}

.listitem {
    margin-left: 350px;
}

.nav1 {
    margin-top: 28px;
    border: 1px rgba(125, 123, 123, 0.527) solid;
    border-right: none;
    border-left: none;
}

.nft {
    margin-top: 148px;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    text-align: center;
    color: #FFFFFF;
}

.own {
    margin-left: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.btn1 {
    margin-top: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: rgb(93, 0, 250);
    background: linear-gradient(90deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
    border: none;
    border-radius: 46px;
    padding: 14px 40px;
    margin-left: 35px;
}

.section1 {
    padding-bottom: 30px;
    margin-top: 150px;
    background: #1e1e3f;
}

.headingh1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}

#margin {
    margin-top: 90px;
    margin-bottom: 30px;
}

.card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.card-text2 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.card-text3 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.card-title2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}


#card {
    padding: 20px 20px 0px 20px;
}

.card-title {
    padding-bottom: 60px;
}
#card-title3{
    padding-bottom: 20px;
}

.card-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
    padding-bottom: 0;
}
#carx{
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn2 {
    width: 188px;
    height: 47px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 37px;
}

.btn2 a {
    text-decoration: none;
}

.paragraf {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding-top: 7px;
    background: rgb(93, 0, 250);
    background: linear-gradient(74deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

#dfun {
    display: flex;
    justify-content: space-between;
}

.view {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#watch {
    font-size: 20px;
    color: whitesmoke;
}



.section2 {
    background: #1e1e3f;
    padding-bottom: 160px;
}

#col4 {
    margin-left: 80px;
}

#col4 a {
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
}

#row1 {
    margin-top: -15px;
    margin-bottom: 32px;
}

.btn333:hover {
    padding: 8px 16px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 46px;
    background: rgb(93, 0, 250);
    background: linear-gradient(90deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
}

.btn333 {
    padding: 8px 16px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background: transparent;
}

.btn3 {
    padding: 8px 16px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 46px;
    background: rgb(93, 0, 250);
    background: linear-gradient(90deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
}

#row1 {
    justify-content: space-around;
}

.finish{
    margin-bottom: 32px;
}

.pages {
    border-top: 0.5px solid #D0D0D0;
    border-bottom: 0.5px solid #D0D0D0;
}

/* foot */

.footer1 {
    background: #09010D;
    padding-bottom: 114px;
}

#benom {
    margin-left: 70px;
}

.input {
    padding-top: -30px;
    width: 400px;
    height: 48px;
    text-align: center;
    border-radius: 48px;
    display: flex;
    margin-left: 10px;
    margin-bottom: 60px;
    margin-top: -40px;
}

.email {
    margin-top: 10px;
    margin-left: 9px;
    font-weight: 500;
    font-size: 14px;
    color: #D0D0D0;
}

.enter {
    padding-top: 52px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 38px;
    margin-bottom: 60px;
}

#Connect {
    padding-bottom: 9.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    border-bottom: 0.5px solid #D0D0D0;
    width: 238px;
}

.support {
    margin-top: -1033px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}

.cards {
    display: flex;
}

#card2 {
    margin-left: 50px;
}

#img12 {
    margin-bottom: 10px;
}

.free {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
}

.btn4 {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 14px 16px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 46px;
    background: rgb(93, 0, 250);
    background: linear-gradient(90deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
}

#uli {
    padding-left: 165px;
}

#liu {
    padding-left: 1000px;
    display: flex;
}

#oli {
    padding-left: 10px;
}

#navbar-brand {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

#tot {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.tot {
    list-style: none;
}

.aziz {
    border-bottom: 1px rgba(125, 123, 123, 0.527) solid;
    background: #1E1E37;
    opacity: 0.5;
}

.sort {
    margin-right: 12px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.popu {
    margin-right: 14px;
    margin-top: -12px;
    width: 206px;
    height: 42px;
    border: 0.5px solid #FFFFFF;
    border-radius: 30px;
    padding: 10px 117px 12px 20px;
    background: transparent;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

.show {
    margin-right: 6px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.item {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

.sasu {
    margin-left: 50px;
    margin-bottom: 49px;
    display: flex;
    margin-top: 66px;
}

.blue {
    margin-left: 700px;
}

.section8 {
    margin-top: 80px;
}

.prev {
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 9px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.page_btn {
    margin-left: 50px;
    align-items: center;
    text-align: center;
    background: transparent;
    width: 100px;
    grid-template: 36px;
    display: flex;
    border: 0.5px solid #FFFFFF;
    border-radius: 30px;
}

.chap {
    padding-left: 14px;
}

.my_btn1 {
    border: none;
    background: transparent;
    padding: 11px;
}

.my_btn2 {
    border: none;
    background: transparent;
    padding: 11px;
}

.page {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 11px;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.cardim {
    background: rgb(29, 15, 53);
    background: linear-gradient(8deg, rgba(29, 15, 53, 1) 0%, rgba(99, 109, 193, 1) 49%, rgba(187, 130, 219, 1) 100%);
    border-radius: 10px;
    height: 441px;
    width: 350px;
    left: 0px;
    top: 0px;
}

/* background: linear-gradient( 135deg, #F6D242 10%, #FF52E5 100%); */

.comeDown {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    /* margin-bottom: 8px; */
}

.Available {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    /* margin-bottom: 28px; */
}

.btn12 {
    width: 188px;
    height: 47px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 37px;
    /* margin-bottom: 24px; */
}

.para_graf {
    border: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background: rgb(93, 0, 250);
    background: linear-gradient(74deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.hmn {
    padding: 24px 24px 24px 20px;
    border-radius: 5px;
}

.card_s {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#foot_id {
    margin-top: 160px;
}

.bac {
    background: #1e1e3f;
    margin: 0;
    padding: 0;
}

#RegisterAccountLogin {
    margin: 0;
    padding: 0;
}

#section10 {
    margin-bottom: 89px;
}

.log {
    padding: 24px 297px 28px 32px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.cardl {
    background: #252547;
    border-radius: 10px;
    height: 370px;
    width: 382px;
    left: 165px;
    top: 255px;
    border-radius: 10px;
}

#in_put1 :focus {
    border: none;
    border-radius: 48px;
    width: 318px;
}

#in_put1 {
    border: 0.5px solid #FFFFFF;
    background: transparent;
    margin-left: 32px;
    margin-bottom: 20px;
    color: #ffffffff;
    padding-left: 24px;
    border: 0.5px solid #FFFFFF;
    border-radius: 48px;
    width: 318px;
    height: 48px;
}

#in_put2 :focus {
    border: none;
    border-radius: 48px;
    width: 318px;
}

#in_put2 {
    border: 0.5px solid #FFFFFF;
    background: transparent;
    margin-left: 32px;
    margin-bottom: 20px;
    color: #ffffffff;
    padding-left: 24px;
    border: 0.5px solid #FFFFFF;
    border-radius: 48px;
    width: 318px;
    height: 48px;
}

.Forgot {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.Remember:hover {
    font-weight: 400;
    font-size: 14px;
    color: white;
    flex: none;
    order: 1;
    text-decoration: none;
    flex-grow: 0;
    padding-right: 60px;
}

.Remember {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    text-decoration: none;
    flex-grow: 0;
    padding-right: 60px;
}

#checkbox {
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 48px;
}

.Logining {
    padding: 14px 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: rgb(93, 0, 250);
    background: linear-gradient(90deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
    border: none;
    border-radius: 46px;
    margin: 43px 32px 43px 222px;
}

.New-Users {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.Reg {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: rgb(93, 0, 250);
    background: linear-gradient(90deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
    border: none;
    border-radius: 46px;
    padding: 14px 40px;
}

.ufhi {
    margin-top: 51px;
}

.btni {
    margin-left: 165px;
    background: linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
    border-radius: 46px;
    width: 156px;
    height: 49px;
    border: none;
}

.reg {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 10px;
}

.register {
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.Remember :hover {
    font-weight: 400;
    font-size: 14px;
    color: white;
    flex: none;
    order: 1;
    text-decoration: none;
    flex-grow: 0;
    padding-right: 60px;
}

.Remember {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    text-decoration: none;
    flex-grow: 0;
    padding-right: 60px;
}

#checkboxi {
    margin-right: 10px;
}

.first {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.inpuh {
    padding-left: 24px;
    border: 0.5px solid #FFFFFF;
    border-radius: 48px;
    background: transparent;
    width: 318px;
    height: 48px;
    margin-bottom: 24px;
    color: white;
}

.enter {
    padding-left: 55px;
    padding-top: 52px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 38px;
    margin-bottom: 60px;
}

.input {
    position: relative;
    width: 450px;
    height: 48px;
    display: flex;
    margin-left: 50px;
    margin-bottom: 60px;
    margin-top: -40px;
}

.teke {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 3px;
    background: linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
    border-radius: 48px;
    width: 59px;
    height: 48px;
    text-align: center;
    border: white solid 0.5px;
}

.telegram {
    padding-left: 5px;
}

#iconca {
    position: absolute;
    left: 18px;
    bottom: 15px;
    color: white;
}

.inputim {
    padding-left: 46px;
    border: 0.5px solid #FFFFFF;
    border-radius: 48px;
    background: transparent;
    width: 500px;
    height: 48px;
    margin-bottom: 24px;
    color: white;
}

/*-------------------------------------------- Responsive------------------------------------ */
/* 992 dan 1199 gacha */
@media (max-width: 1199px) {}

/* 768 dan 991 gacha */
@media (max-width: 991px) {}

/* 576 dan 767 gacha */
@media (max-width: 767px) {}

/* 0 dan 575 gacha */
@media (max-width: 575px) {
    .nft {
        margin-top: 48px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
    }

    .own {
        margin-left: 0;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 9px;
        color: #FFFFFF;
    }

    .btn1 {
        margin-top: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 4px;
        color: #FFFFFF;
        background: rgb(93, 0, 250);
        background: linear-gradient(90deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
        border: none;
        border-radius: 46px;
        padding: 2px 10px;
        margin-left: 0px;
    }
    .section1{
        padding-bottom: 0;
        margin-top: 28px;
        background: #1e1e3f;
    }
    #sectioni{
        margin-bottom: -130px;
    }
    .headingh1 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }
    #margin{
        margin-top: 34px;
        margin-bottom: 22px;
    }
    .card-title {
        padding-bottom: 20px;
    }
    .acard{
        transform: scale(0.9);
        margin-top: -15px;
    }
    #col4 {
          margin-left: 0; 
    }
    
    .btn333 {
        padding: 6px 14px;
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        background: transparent;
    }
    .btn3 {
        padding: 6px 14px;
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        border-radius: 46px;
        background: rgb(93, 0, 250);
        background: linear-gradient(90deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
        margin-left: 12px;
    }
    .section2 {
        background: #1e1e3f;
         padding-bottom: 0px; 
    }
    .btn4 {
        position: fixed;
        bottom: 10px;
        right: 4px;
        padding: 14px 16px;
        font-family: 'Outfit', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        border-radius: 46px;
        background: rgb(93, 0, 250);
        background: linear-gradient(90deg, rgba(93, 0, 250, 1) 0%, rgba(215, 11, 202, 1) 100%);
    }
    .popu {
        margin-right: 14px;
        margin-top: -2px;
        width: 206px;
        height: 42px;
        border: 0.5px solid #FFFFFF;
        border-radius: 30px;
        padding: 5px 69px 5px 20px;
        background: transparent;
        font-family: 'Outfit', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
    }
        /* .sort {
            margin-right: 8px;
            font-family: 'Outfit', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            color: #FFFFFF;
        }    */
        .sasu {
            margin-left: -90px;
            margin-bottom: 20px;
            transform: scale(0.5);
            margin-top: 20px;
        }
        .blue {
            margin-left: 180px;
        }
        .pages {
            margin-top: -15px;
            
            border-top: 0.5px solid #D0D0D0;
            border-bottom: 0.5px solid #D0D0D0;
            transform: scale(0.9);
        }
        .page {
            margin-top: -5px;
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 11px;
        }
        .my_btn1 {
            border: none;
            background: transparent;
            padding: 0;
            transform: scale(0.5);
            
        }
        
        .my_btn2 {
            border: none;
            background: transparent;
            padding: 0;
            transform: scale(0.5);
        }
        .ufhi{
            transform: scale(0.8);
            margin-left: -20px;
        }
        .cardl {
            margin-left: -42px;
            background: #252547;
            border-radius: 10px;
            height: 370px;
            width: 382px;
            left: 165px;
            top: 255px;
            border-radius: 10px;
            transform: scale(0.8);
        }
        .ufh {
            margin-top: 51px;
            transform: scale(0.8);
            margin-left: -20px;
        }
        nav {
            position: fixed;
            z-index: 10;
            left: 0;
            right: 0;
            top: 0;
            font-family: 'Montserrat', sans-serif;
            padding: 0 5%;
            height: 100px;
            background: rgba(0, 0, 0, 0.53);
        }
        nav .logo {
            float: left;
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 22px;
            color: rgba(255, 255, 255, 0.4);
        }
        nav .links {
            float: right;
            padding: 0;
            margin: 0;
            width: 60%;
            height: 100%;
            display: flex;
            
            align-items: center;
        }
        nav .links li {
            list-style: none;
        }
        nav .links a {
            display: block;
            padding: 0;
            font-size: 20px;
            font-weight: bold;
            color:  rgba(255, 255, 255, 0.61);
            text-decoration: none;
            padding-bottom: 30px;
            padding-top: 20px;
        }
        #nav-toggle {
            position: absolute;
            top: -100px;
        }
        nav .icon-burger {
            display: none;
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
        }
        nav .icon-burger .line {
            width: 28px;
            height: 3px;
            background-color:  rgba(255, 255, 255, 0.4);
            margin: 5px;
            border-radius: 3px;
            transition: all .3s ease-in-out;
        }
}

@media screen and (max-width: 768px) {
	nav .logo {
		
		width: auto;
		
	}
    nav{
    height: 7%;
        width: 100%;
    }
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 40px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
    .youtube-link {
        
        left: 20px;
        bottom: 20px;
        color: #000;
        text-decoration: none;
        font-size: 12px;
    }
}
