* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    list-style: none;

}

nav {
    background: #000000;
}

.nike {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ejedne {
    padding-top: 14px;
    padding-left: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 100px;

}

.list_iteam {
    padding-top: 14px;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    flex: none;
}

.list_iteam a {
    text-decoration: none;
    padding-left: 20px;
    color: #FFFFFF;
}

.ux {
    display: flex;
    justify-content: center;
    align-items: center;

}

.voyti {
    padding-left: 8px;
    padding-top: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

#voyte {
    margin-left: 355px;
}

.logo {
    background: none;
    margin-top: 15px;
}

input {
    border: 1px solid #E8E8E8;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-left: 35px;
}

.tel {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.icon3 {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 40px;
}

.search {

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E8E8E8;
    padding-left: 17px;
    width: 250px;
    margin-top: 32px;
}

.qidiruv {
    position: absolute;
    padding-top: 36px;
    padding-right: 5px;
}

.icon4 {
    margin-top: 18px;
    margin-left: 16px;
    width: 20px;
    height: 19px;
}

.nomer {
    padding-top: 16px;
    padding-left: 14px;
    margin: 0;
    font-size: 18px;
    color: #000000;
}

.telepart {
    position: absolute;
    top: 100px;
    margin-left: 1260px;
    color: #63BFBE;
}

#pro {
    margin-left: 1140px;
    margin-top: -70px;
}

/* <!------------------------------------------------ header end---------------------------------------------- --> */
/* <!------------------------------------------------ section1 start---------------------------------------------- --> */

.section1 {
    margin-top: 20px;

    background: url(./img/bac.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.dlya {
    width: 700px;
    font-weight: 900;
    font-size: 54px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 195px;
}

.btn1 {
    margin-top: 40px;
    border: none;
    padding: 16px 60px 16px 30px;
    margin-bottom: 253px;
    background: #63BFBE;
    box-shadow: 0px 6px 14px rgba(88, 76, 42, 0.2);
    color: #FFFFFF;
}

.uk {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 12px;
}

/* <!------------------------------------------------ section1 end---------------------------------------------- --> */
/* <!------------------------------------------------ section2 start---------------------------------------------- --> */
.section2 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #F5F5F5;
}

.cardi {
    text-align: center;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    width: 282px;
    height: 170px;
    background-color: #FDFDFD;

    border-radius: 10px;
}

.card_img {
    margin-top: 39px;
    margin-bottom: 16px;
    width: 54px;
    height: 53px;
}

.card_text {
    font-size: 16px;
    color: #000000;
}

.hard {
    position: relative;
    margin-top: 64px;
}

#hardpas {
    margin-left: 66px;
}

.video_h {
    font-size: 54px;
    line-height: 65px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 32px;
    margin-left: 66px;
}

.video_p {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-left: 66px;
}

.videol {

    position: absolute;
}

.backch {
    background-color: #63BFBE;
    width: 1440px;
    height: 180px;
    top: 400px;
}

.kristal_text {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 13px;
}

.kristal {
    margin-top: 49px;
    margin-left: -400px;
    text-align: center;
}

/* <!------------------------------------------------ section2 end---------------------------------------------- --> */
/* <!------------------------------------------------ section3 start---------------------------------------------- --> */
.section3 {
    background-color: #F5F5F5;
    padding-bottom: 72px;
}

.pop {
    font-size: 54px;
    line-height: 65px;
    color: #000000;
    font-weight: 700;
    margin-right: 35px;
}

.pop_p {

    padding-top: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.chap {
    padding-top: 30px;
}

.card_text {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    color: #ACACAC;
}

span {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    font-weight: 500;
}

.narx {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    font-weight: 500;
}

.text {
    padding-bottom: 8px;
    margin: 0;
    text-align: center;
}

.text a {

    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    color: #63BFBE;
}

.card-footer {
    padding: 0;
    margin: 0;
}

#cardx {
    margin-top: 20px;
    width: 282px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
}

.cardx_img {
    width: 282px;
    height: 307px;
}

/* <!------------------------------------------------ section3 end---------------------------------------------- --> */
/* <!------------------------------------------------ section4 start---------------------------------------------- --> */
.section4 {
    padding-bottom: 56px;
}

.bah {
    margin-left: -100px;
    background-color: #63BFBE;
    position: absolute;
    margin-bottom: 30px;
}

.bah_text {
    padding-left: 111px;
    padding-right: 151px;
    font-size: 54px;
    line-height: 65px;
    color: white;
    font-weight: 700;
}

.bax_text {
    padding: 8px 382px 26px 111px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
}

.group1 {
    margin-top: 160px;
    /* width: 500px;
    height: 360px; */
}

/* <!------------------------------------------------ section4 end---------------------------------------------- --> */
/* <!------------------------------------------------ section5 start---------------------------------------------- --> */
.section5 {
    background-color: #F0F0F0;
}

.kak {
    margin-top: 48px;
    font-size: 54px;
    line-height: 65px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 40px;
}

.cardp {
    background-color: #FDFDFD;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    width: 386px;
    height: 490px;
}

.h1_raqam {
    padding-left: 25px;
    font-size: 72px;
    line-height: 101px;
    color: #63BFBE;
    font-weight: 400;
}

.cardp_p {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
    padding-left: 25px;
}

.cardp_input {
    margin-top: 32px;
    width: 338px;
    height: 48px;
    margin-left: 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
}

.cardp_button {
    border: none;
    background-color: #63BFBE;
    border-radius: 5px;
    box-shadow: 0px, 6px rgba(88, 76, 42, 0.2);
    width: 335px;
    height: 57px;
    margin-top: 24px;
    margin-left: 24px;
    color: #FFFFFF;
}

.cardp_chek {
    margin-top: 27px;
    margin-left: 24px;
    width: 19px;
    height: 18px;
}

.coglase {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 8px;
    color: #767676;
    margin-left: 53px;
    margin-top: -23px;
}

.politiki {
    font-size: 14px;
    color: #63BFBE;
    margin-left: 53px;
    padding-bottom: 30px;
}

.cardc {
    margin-bottom: 37px;
    background-color: #FDFDFD;
    border-radius: 5px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    width: 386px;
    height: 226px;
}

.carc_p {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding-left: 24px;
    font-weight: 500;
}

/* <!------------------------------------------------ section5 end---------------------------------------------- --> */
/* <!------------------------------------------------ section6 start---------------------------------------------- --> */
.section6 {
    background-color: #F5F5F5;
}

#ehh {
    padding-top: 56px;
}

.cardz {
    margin-bottom: 80px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    width: 386px;
    height: 303px;
}

.cardz_h1 {
    margin-top: 16px;
    margin-left: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.cardz_p {
    margin-left: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #ACACAC;
}

.strelka {
    margin-left: 172px;
}

/* <!------------------------------------------------ section6 end---------------------------------------------- --> */
/* <!------------------------------------------------ footer start---------------------------------------------- --> */
.footer1{
    margin-top: 40px;
    margin-bottom: 24px;
}
.footer1p{
    font-size: 16px;
line-height: 22px;
color:#767676 ;
}
.footer2{
    margin-top: 40px;
}
.footer2h1{
    margin-left: 30px;
    margin-bottom: 24px;
    font-size: 18px;
line-height: 25px;
color: #000000;
font-weight: 700;
}
.footer_list li{
    margin-bottom: 16px;
    font-size: 16px;
line-height: 22px;
color: #000000;
list-style: none;
}
.footer5{
    margin-top: 40px;
    margin-left: 82px;
}
.save{
    margin-left: 33px;
    display: flex;
}
.telefon{
    margin-right: 9px;
    width: 18px;
    height: 18px;
}
.save_p{
    font-size: 16px;
line-height: 22px;
color: #000000;
}
.save_a{
    position: absolute;
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 14px;
line-height: 16px;
color:#63BFBE ;
}
.sav_p{
    font-size: 16px;
line-height: 22px;
color:#767676 ;
}
.sav{
    margin-left: 33px;
    display: flex;
    margin-top: 16px;
}
.sav1{
    margin-left: 33px;
    display: flex;
}
.footer6{
    margin-top: 15px;
    margin-left: 40px;
}